{% extends 'base.html.twig' %}

{% form_theme form '_forms.html.twig' %}

{% block title %}Edit Measure{% endblock %}

{% block body %}
    <div class="py-5 px-10 w-full flex flex-col">
        <h1 class="mb-20 text-4xl">Edit Measure</h1>

        {{ include('measure/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('measure/_delete_form.html.twig') }}
    </div>
{% endblock %}
