{# Navbar #}

<header class="p-10 z-10 w-full sticky top-0 flex shadow-xl bg-gray-200">
    <div class="hidden lg:block">
        {# <a href="{{ path('home') }}">Logo</a> #}
        <a href="#">Logo</a>
    </div>
    <nav class="w-full flex justify-between items-center lg:w-auto lg:flex-grow lg:justify-end">
        <div>
            <a href="{{ path('app_login') }}">Login</a>
            <a href="{{ path('app_register') }}">Register</a>
        </div>
    </nav>
</header>