{# Navbar #}

<header class="p-10 z-10 w-full fixed top-0 flex shadow-inner bg-gray-200">
    <div class="hidden lg:block">
        {# <a href="{{ path('home') }}">Logo</a> #}
        <a href="#">Logo</a>
    </div>
    <nav class="w-full flex justify-between items-center lg:w-auto lg:flex-grow lg:justify-end">
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <div>
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        
    </nav>
</header>
<div class="h-28"></div>