{# Sidebar #}
{% if is_granted("ROLE_USER") %}
    <div class="mt-24 py-10 px-3 h-full fixed bottom-0 left-0 top-0 shadow-inner bg-gray-200 side-bar">
        <div class="mb-5 h-16 flex items-center justify-center rounded-lg hover:bg-gray-400 hover:shadow">
            <a href="/" class="w-full h-full">
                <div class="w-full h-full px-5 flex items-center justify-start overflow-hidden">
                    <i class="fa-solid fa-chart-line fa-2xl"></i>
                    <p class="ml-6 text-xl hover:font-bold">Dashboard</p>
                </div>
            </a>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
            {% if is_granted("ROLE_SPER_ADMIN") %}
                <div class="mb-5 h-16 flex items-center justify-center rounded-lg hover:bg-gray-400 hover:shadow">
                    <a href="/user" class="w-full h-full">
                        <div class="w-full h-full px-5 flex items-center justify-start overflow-hidden">
                            <i class="fa-solid fa-users fa-2xl"></i>
                            <p class="ml-6 text-xl hover:font-bold">Users</p>
                        </div>
                    </a>
                </div>
            {% endif %}
            <div class="mb-5 h-16 flex items-center justify-center rounded-lg hover:bg-gray-400 hover:shadow">
                <a href="/measure" class="w-full h-full">
                    <div class="w-full h-full px-5 flex items-center justify-start overflow-hidden">
                        <i class="fa-solid fa-ruler fa-2xl"></i>
                        <p class="ml-6 text-xl hover:font-bold">Measures</p>
                    </div>
                </a>
            </div>
            <div class="mb-5 h-16 flex items-center justify-center rounded-lg hover:bg-gray-400 hover:shadow">
                <a href="/visit/type" class="w-full h-full">
                    <div class="w-full h-full px-5 flex items-center justify-start overflow-hidden">
                        <i class="fa-solid fa-eye fa-2xl"></i>
                        <p class="ml-6 text-xl hover:font-bold">Visits</p>
                    </div>
                </a>
            </div>
        {% endif %}
        
    </div>
{% endif %}